---
import type { Locale } from '@/i18n/config';
import { useTranslations } from '@/i18n/utils';

interface Props {
  locale: Locale;
}
const t = useTranslations(Astro.props.locale);
---

<a
  href="#main"
  class="bg-accent focus:text-surface sr-only rounded-md px-4 py-2 font-medium focus:not-sr-only focus:fixed focus:top-3 focus:left-3 focus:z-50"
>
  {t('skip.content')}
</a>
