---
import LiquidText from '@/components/ui/LiquidText.astro';

interface Props {
  id?: string;
  heading: string;
}
const { id, heading } = Astro.props;
---

<div class="relative mb-12" data-reveal>
  <h2 {id} class="font-poster text-[length:clamp(3rem,6vw,4.5rem)]">
    <LiquidText text={heading} />
  </h2>
</div>
